*[~]
.DS_Store
bin
obj
*/TestResults/
*/TestResults/*
*TestResults*
*.fetched.xml
*.merged.xml
*.dll
*.scc
*.suo
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.sdf
*.opensdf
*.orig
*.tar
*.trx
*.vcproj.*.user
*.user
*.*.user
*.vsp
*.psess
*.svclog
*.fetched.xml
*.merged.xml
[Dd]ebug
[Rr]elease*
semantic.cache
*.class
target
.svn/
